

//declare variables below

$white: #fff ;
$black: rgba(0, 0, 0, 0.83) ;
$true-black: #000 ;
$orange: #F59D19 ;
$light-orange: #FFC24E ;
$grey: rgba(0, 0, 0, 0.5) ;

$text_color: $black ;
$main_color: $black;
// $main_hover: $green_2;
// $sub_color: $black;
// $sub_color:

$font: 'Work Sans', sans-serif;

// $sub_font:



// Work Sans
// 400 
// 700
